/* ESTILOS HOME */

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap');

:root {
    --color-primario-L2: #9AA3CC;
    --color-primario-L1: #7985B9;
    --color-primario: #5264A7;
    --color-primario-S1: #364079;
    --color-primario-S2: #1F2656;
    --color-blanco: #F0F3FD;
    --color-negro: #3D4151;
    font-family: 'Baloo 2', cursive;

    --elevacion1: 5px 5px 10px 5px rgba(3, 4, 26, 0.20);
    --elevacion2: 10px 10px 15px 4px rgba(3, 4, 26, 0.20);
    --elevacion3: 15px 15px 30px 5px rgba(3, 4, 26, 0.15);
}

::-webkit-scrollbar-thumb {
    background: var(--color-primario-S2);
    border-radius: 6px;
}

::-webkit-scrollbar {
    width: 2px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    font-weight: 600;
}

h2 {
    font-size: 32px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

p {

    font-size: 16px;
    font-weight: 400;
}

.textoSM {
    font-size: 11px;
    font-weight: 400;
}

button {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2.8px;
    text-transform: uppercase;
}

body {
    color: var(--color-blanco);
    background-color: var(--color-primario-S2);
}

ul {
    padding: 0;
    list-style: none;
}


/* Acciones */

.aparecer{
    transform: scale(1);
}

.rotar{
    transform: rotate(180deg);
}
.borroso {
    animation: refresco 500ms;
}

@keyframes refresco {
    0% {
        filter: blur(40px);
        transform: translateX(0);
    }

    20% {
        transform: translateX(-2px) rotate(-1deg);
    }

    40% {
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        transform: translateX(-2px) rotate(-1deg);
    }

    80% {
        transform: translateX(2px) rotate(1deg);
    }

    100% {
        transform: translateX(0);
        filter: blur(0);
    }
}

/* CLASES REUTILIZABLES */
.a-center {
    align-items: center
}

.btn {
    border: none;
    border-radius: 35px;
    padding: 7px 15px;
    transition: 200ms ease-in;
}

.btn-2 {
    color: var(--color-primario-L2);
    background: transparent;
    border: 2px solid var(--color-primario-L2);
    border-radius: 35px;
    padding: 7px 15px;
}

.btn-3 {
    color: var(--color-primario-L2);
    background: transparent;
    border: none;
    padding: 7px 15px;
}

.btn:focus {
    outline: none;
}

.btn-texto {
    font-family: Baloo 2;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.8px;
    text-transform: uppercase;
}

.linksMenu {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.8px;
    text-decoration-line: underline;
    text-transform: capitalize;
}

.centrar {
    display: grid;
    place-content: center;
}

.between {
    justify-content: space-between
}

.column {
    flex-direction: column;
}

.flex {
    display: flex;
}

.jc-medio {
    justify-content: center;
}

.end {
    justify-content: end;
}

.w-100 {
    width: 100%;
}

.w-90 {
    width: 90%;
}

.w-50 {
    width: 50%;
}

.my-20 {
    margin: 20px 0;
}

.puntuacion svg {
    width: 126.31px;
    height: 19.268px;
    flex-shrink: 0;
}

.separador {
    background: var(--color-primario-L2);
    margin: auto;
    opacity: .5;
    height: 2px;
    width: 1500px;
}

.linea {
    background: var(--color-primario-L2);
    height: 1px;
    width: 200px;
}

.medio {
    border: var(--color-blanco) 1px solid;
    border-radius: 50%;
    margin: 20px;
    height: 5px;
    width: 5px;
}

/* SPINNER */

.spinner-container {
    background: #000000b3;
    backdrop-filter: blur(10px);
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 10000;
}

.loader {
    border: 8px solid var(--color-blanco);
    border-top: 8px solid var(--color-acento);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* HOME MOBILE */
.container {
    display: grid;
    grid-template-areas:
        "navPrincipal"
        "hero"
        "juegos"
        "footerPrincipal";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    margin: 0 auto;
    max-width: 100vw;
    overflow: hidden;
}

/* Nav */
.navPrincipal {
    align-items: center;
    background: linear-gradient(180deg, rgba(31, 38, 86, 0.80) 0%, rgba(154, 163, 204, 0.40) 100%);
    display: flex;
    flex: 1;
    flex-direction: row;
    grid-area: navPrincipal;
    height: 50px;
    justify-content: space-between;
    max-width: 100vw;
    min-width: 390px;
    padding: 0px 30px;
}

.navPrincipal li {
    width: 100%;
}

.navPrincipal .logoNav,
.logoFooter {
    height: 67px;
    width: 90px;
}

.logoNav {
    display: none;
}

.accionesUsuario {

    display: flex;
    gap: 12px;
}

.navPrincipal img,
.buscar img,
.carrito img,
.imagenPerfil img,
.hambMenu img {
    width: 24px;
    height: 24px;
}

.usuario,
.buscar,
.carrito,
.imagenPerfil,
.desplegable,
.hambMenu {
    align-items: center;
    display: flex;
}

.usuario {
    width: 30px;
}

.desplegable {
    position: relative;
    left: -12px;
}

.desplegable img {
    width: 24px;
    height: 24px;
}

.btn-menu{
    cursor: pointer;
}

.menu-usuario {
    background-image: linear-gradient(to right, var(--color-primario-L2), var(--color-primario-S2));
    border-radius: 10px;
    box-shadow: var(--elevacion1);
    color: var(--color-blanco);
    overflow: hidden;
    right: 0;
    position: absolute;
    padding: 30px;
    top: 50px;
    transform: translatey(0px);
    transition: 500ms ease-in-out;
    width: 400px;
    z-index: 5000;
}
.menu-usuario a{
    color: var(--color-blanco);
}

.desapareser {
    opacity: 0;
    transform: translatey(-50px);
    z-index: -100;
}

.menu-usuario li svg {
    margin: 10px 15px;
}

.menu-usuario img {
    border-radius: 20px;
    height: 70px;
    width: 70px;
}

.desplegable-usuario {
    position: relative;
}
#btn-usuario img{
    cursor: pointer;
    transition: 300ms;
}



/* Hero */
.hero {
    grid-area: hero;
    height: 30vw;
}

.hero img {
    min-width: 390px;
    width: 100vw;
}

/* Seccion Juegos */
.juegos {
    grid-area: juegos;
    padding: 0px 30px;
}

.carrusel {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 24px 0px;
    overflow: hidden;
    position: relative;
    width: 92vw;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 6px;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    width: 90vw;
}

.btnCarrusel {
    align-items: center;
    backdrop-filter: blur(2px);
    background: linear-gradient(180deg, rgba(31, 38, 86, 0.80) 0%, rgba(154, 163, 204, 0.40) 100%);
    border-radius: 10px;
    border: none;
    box-shadow: var(--elevacion1);
    cursor: pointer;
    display: flex;
    height: 45px;
    justify-content: center;
    letter-spacing: 0px;
    width: 32px;
}

.btnCarrusel :active {
    scale: 0.8;
}

.cardsContainer {
    display: flex;
    gap: 12px;
    scroll-snap-type: x proximity;
    transition: transform 0.3s ease-in-out;
}

#cardEspecial {
    height: 190px;
    width: 330px;
}


.card {
    background-color: var(--color-blanco);
    border-radius: 15px;
    height: 175px;
    overflow: hidden;
    position: relative;
    width: 290px;
}

.card li {
    align-items: center;
    display: flex;
}

.card img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.cardInfo {
    align-items: center;
    backdrop-filter: blur(5px);
    background: #0000003b;
    bottom: 0;
    cursor: pointer;
    color: var(--color-blanco);
    display: flex;
    height: 50px;
    justify-content: space-around;
    position: absolute;
    width: 100%;
}

.textoCard {
    color: var(--White, #F0F3FD);
    font-family: Baloo 2;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5.6px;
    text-align: center;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.50);
    text-transform: uppercase;
}

.cardInfo svg {
    height: 32px;
    width: 32px;
}

.page-footer {
    margin-top: 220px;
    background-color: var(--color-primario-S2);
    color: var(--color-blanco);

}

/* Footer */
.footerPrincipal {
    align-items: center;
    background: var(--color-primario-S1);
    display: flex;
    flex-direction: column;
    grid-area: footerPrincipal;
    height: 800px;
    justify-content: center;
    min-width: 390px;
    padding: 0px 30px;
    width: 100vw;
    position: relative;
    margin-top: 150px;
}

.footerPrincipal svg {
    flex-shrink: 0;
    height: 220px;
    width: 100%;
    top: -120px;
    position: absolute;
}

.page-footer .footer-content {
    background-color: var(--color-primario-S1);
    height: 400px;
    position: relative;
}

.page-footer .footer-info {
    display: flex;
    margin: auto;
    max-width: 1500px;
    justify-content: space-evenly;
    margin-bottom: 75px;
}

.page-footer .footer-logo img {
    width: 200px;
}

.page-footer .footer-info h3 {
    line-height: 32px;
}

.page-footer .footer-info p {
    line-height: 26px;
}

.page-footer .iconos {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 350px;
}


.info {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.contenido {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.redesSociales {
    align-items: center;
    border-top: 2px solid rgba(154, 163, 204, 0.50);
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    width: 80vw;
}

.item img {
    height: 32px;
    margin: 20px 0px;
    width: 32px;
}

@media screen and (min-width: 768px) {

    /* HOME TABLET */

    /* Nav */
    .navPrincipal {
        height: 60px;
    }

    .logoNav {
        display: flex;
    }

    /* Hero */

    /* Seccion Juegos */

    /* Footer */
    .footerPrincipal {
        height: 600px;
    }

    .contenido {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

}

@media screen and (min-width: 1024px) {

    /* HOME LAPTOP */

    /* Nav */
    .navPrincipal {
        padding: 0px 60px;
    }


    /* Hero */
    .hero {
        height: 40vh;
    }

    /* Seccion Juegos */
    .juegos {
        padding: 0px 60px;
    }

    #cardEspecial {
        width: 430px;
        height: 260px;
    }


    /* Footer */

    .logoFooter {
        margin-right: 32px;
    }

    .info {
        flex-direction: row;
        margin: 24px;
    }

    .contenido {
        gap: 24px;
    }
}

@media screen and (min-width: 1440px) {

    /* HOME DESKTOP */

    /* Nav */
    .navPrincipal {
        padding: 0px 210px;
    }

    /* Hero */
    .hero {
        height: 50vh;
    }

    /* Seccion Juegos */
    .juegos {
        padding: 0px 210px;
    }

    .destacados .btnCarrusel {
        display: none;
    }

    .destacados .cardsContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 12px;
        padding-right: 210px;
    }

    #cardEspecial {
        width: 430px;
        height: 260px;
    }

    .carrusel {
        width: 1480px;
    }

    .btnContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        left: 6px;
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
        width: 1465px;
    }

    .btnCarrusel {
        align-items: center;
        backdrop-filter: blur(2px);
        background: linear-gradient(180deg, rgba(31, 38, 86, 0.80) 0%, rgba(154, 163, 204, 0.40) 100%);
        border-radius: 10px;
        border: none;
        box-shadow: var(--elevacion1);
        cursor: pointer;
        display: flex;
        height: 45px;
        justify-content: center;
        letter-spacing: 0px;
        width: 32px;
    }


    .card {
        width: 360px;
        height: 216px;
    }

    /* Footer */

}

/* ESTILOS JUEGO */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.juego-container {
    color: var(--color-blanco);
    margin: auto;
    margin-top: 60px;
    max-width: 1500px;
}

.juego-container .juego {
    background: #fff;
    background-image: #fff;
    height: 662px;
    width: 1500px;
}

.juego-container .rotulador {
    margin: 20px 0;
}

.juego-container .reglas ol {
    padding-left: 20px;
    max-width: 60%;
}

.juego-container .reglas ol li {
    padding: 10px;
}

.form-comentario {
    background: var(--color-primario-L1);
    border-radius: 35px;
    margin: auto;
    height: 220px;
    padding: 20px;
    position: relative;
    max-width: 1000px;
}

.form-comentario .perfil {
    border-radius: 50%;
    border: 1px solid var(--color-blanco);
    height: 50px;
    width: 50px;
}

.form-comentario textarea {
    background-color: var(--color-primario-L1);
    border: none;
    height: 150px;
    padding: 15px 0 0 10px;
    resize: none;
    width: 100%;
}

.form-comentario textarea:focus {
    outline: none;
}

/* Login */

.login-layout {
    background-image: url("../imagenes/wallpaper.jpg");
    background-size: cover;
    background-position: top -100px right;
    height: 100vh;
    width: 100%;
}


.form-login {
    background: var(--color-negro);
    border-radius: 5px;
    color: var(--color-blanco);
    max-width: 600px;
    padding: 20px 80px;
    align-items: center;
    box-shadow: var(--elevacion1);
}

.input-container {
    position: relative;
    margin: 5px;
    width: 100%;
}

.input-login {
    border-radius: 5px;
    border: 1px solid var(--Primary-L1, #7985B9);
    color: var(--color-blanco);
    background: rgba(154, 163, 204, 0.20);
    padding: 20px 15px 5px;
    width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    /* Cambiar el color a blanco en fondo oscuro */
}

.input-login:focus {
    outline: none;
}

.input-label {
    color: var(--color-primario-L1);
    left: 10px;
    pointer-events: none;
    position: absolute;
    transition: 0.2s ease-out;
    top: 15px;
}

.login-layout .logo {
    width: 200px;
}

/* Estilos para el label cuando el input tiene el foco o contiene texto */
.input-login:focus+.input-label,
.input-login:not(:placeholder-shown)+.input-label {
    color: var(--color-primario-L2);
    font-size: 12px;
    left: 10px;
    top: 5px;
    padding: 0 5px;
}

.form-login .btn {
    background: var(--color-primario);
    border: none;
    border-radius: 5px;
    margin: 25px 0;
    color: var(--color-blanco);
    padding: 7px;
    width: 100%;
}


.input-rapido {
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 4px;
    width: 350px;
    margin: 5px 0;
}

.input-rapido svg {
    margin: 0 10px;
}

.input-rapido span {
    text-transform: none;
}

.form-login a {
    color: var(--color-primario-L1);
}

.form-login:last-child {
    padding-bottom: 50px;
}

.form-login .success {
    background: #FF5C00;
    filter: blur(4px);
    box-shadow: 0px 0px 20px #FF5C00;
}

.hide {
    display: none;
}