@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap');

:root {
    --color-primario-L2: #9AA3CC;
    --color-primario-L1: #7985B9;
    --color-primario: #5264A7;
    --color-primario-S1: #364079;
    --color-primario-S2: #1F2656;

    --color-blanco: #F0F3FD;

    font-family: 'Baloo 2', cursive;
}

.h2{
    font-weight: bold;
    font-size: 32px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-primario-S2);
    border-radius: 6px;
}
::-webkit-scrollbar {
    width: 2px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

svg {
    height: 30px;
    width: 30px;
}

header {
    position: absolute;
    display: flex;
    align-items: center;
    height: 60px;
    z-index: 500;
    width: 100%;
    z-index: 500;
}

header::before{
    content: '';
    position: absolute;
    background: linear-gradient(180deg, rgba(31, 38, 86, 0.80) 0%, rgba(154, 163, 204, 0.40) 100%);
    backdrop-filter: blur(5px);    
    width: 100%;
    height: 60px;
    opacity: 50%;
}

main {
    position: relative;
    grid-area: main;
    width: 100%;
    min-height: calc(100vh);
    background-color: var(--color-primario-S2);
}

footer {
    position: relative;
    background-color: blue;
    height: 150px;
    grid-area: footer;
    width: 100%;
}

nav ul .boton-perfil{
    display: flex;
    align-items: center;
}


nav ul .logo{
    width: 90px;
    height: 100%;
}

nav ul .boton-perfil img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

nav ul .acciones li, .boton-menu{
    padding: 0 10px;
}

main .carrusel-container{
    position: relative;
    top: -250px;
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    margin: auto;
    padding: 10px;
}

main .carrusel{
    display: flex;

    position: relative;
    z-index: 500;
}

main .carrusel .card{
    position: relative;
    width: 400px;
    height: 240px;
    border-radius: 15px;
    background-color: var(--color-blanco);
    overflow: hidden;
}

main .carrusel .card img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

main .carrusel .card .card-info{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #0000003b;
    backdrop-filter: blur(5px);
    color: var(--color-blanco);
    width: 100%;
    height: 50px;
}

main .carrusel .card .card-info svg{
    width: 45px;
    height: 45px;
}

@media screen and (min-width:600px) {

    .layout {
        display: grid;
        grid-template-areas:
            'main'
            'footer';
    }

    nav {
        position: relative;
        margin: auto;
        max-width: 1500px;
        width: 100%;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul li{
        display: flex;
        align-items: center;
    }


    nav ul div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    main .wallpaper{
        width: 100%;
        height: 90vh;
        overflow: hidden;
        
    }

    main .wallpaper img{
        width: 100%;
        object-position: 0 -150px;
    }

    main .overlay{
        position: absolute;
        top: calc(100vh - 400px);
        width: 100%;
        height: 400px;
        z-index: 0;
        background-image: linear-gradient( rgba(31, 38, 86, 0.00) 11.55%, rgba(31, 38, 86, 0.74) 39.88%, #1F2656 64.06%);
    }

}