@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap');

:root {
    --color-primario-L2: #9AA3CC;
    --color-primario-L1: #7985B9;
    --color-primario: #5264A7;
    --color-primario-S1: #364079;
    --color-primario-S2: #1F2656;
    --color-blanco: #F0F3FD;
    --color-negro: #3D4151;
    font-family: 'Baloo 2', cursive;
}

::-webkit-scrollbar-thumb {
    background: var(--color-primario-S2);
    border-radius: 6px;
}

::-webkit-scrollbar {
    width: 2px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Acciones */

.borroso{
    animation: refresco 500ms;
}

@keyframes refresco {
    0%{
        filter: blur(40px);
        transform: translateX(0);
    }
    20% { transform: translateX(-2px) rotate(-1deg); }
    40% { transform: translateX(2px) rotate(1deg); }
    60% { transform: translateX(-2px) rotate(-1deg); }
    80% { transform: translateX(2px) rotate(1deg); }
    100% {
        transform: translateX(0);
        filter: blur(0);
    }
}

/* CLASES REUTILIZABLES */
.a-center {
    align-items: center
}

.btn {
    border: none;
    border-radius: 35px;
    padding: 7px 15px;
    transition: 200ms ease-in;
}

.btn-2{
    color: var(--color-primario-L2);
    background: transparent;
    border: 2px solid var(--color-primario-L2);
    border-radius: 35px;
    padding: 7px 15px;
}

.btn-3{
    color: var(--color-primario-L2);
    background: transparent;
    border: none;
    padding: 7px 15px;
}

.btn:focus {
    outline: none;
}

.btn-texto {
    font-family: Baloo 2;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.8px;
    text-transform: uppercase;
}

.centrar {
    display: grid;
    place-content: center;
}

.between {
    justify-content: space-between
}
.column {
    flex-direction: column;
}
.flex {
    display: flex;
}
.w-100 {  width: 100%; }
.w-90 {  width: 90%; }


.my-20{
    margin: 20px 0 ;
}
.h1 {
    font-size: 38px;
    font-weight: bold;
}

.h2 {
    font-size: 32px;
}

.h3 {
    font-size: 20px;
    font-weight: 600;
}

.texto-chico{
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    font-size: 16px;
    font-weight: 400;
}

.puntuacion svg {
    width: 126.31px;
    height: 19.268px;
    flex-shrink: 0;
}

.separador {
    background: var(--color-primario-L2);
    margin: auto;
    opacity: .5;
    height: 2px;
    width: 1500px;
}
.linea {
    background: var(--color-primario-L2);
    height: 1px;
    width: 200px;
}
.medio {
    border: var(--color-blanco) 1px solid;
    border-radius: 50%;
    margin: 20px;
    height: 5px;
    width: 5px;
}



ul {
    list-style: none;
}

svg {
    height: 30px;
    width: 30px;
}

header {
    align-items: center;
    display: flex;
    height: 60px;
    position: absolute;
    width: 100%;
    z-index: 500;
    z-index: 500;
}

header::before {
    backdrop-filter: blur(5px);
    background: linear-gradient(180deg, rgba(31, 38, 86, 0.80) 0%, rgba(154, 163, 204, 0.40) 100%);
    content: '';
    opacity: 50%;
    height: 60px;
    width: 100%;
    position: absolute;
}

main {
    background-color: var(--color-primario-S2);
    grid-area: main;
    min-height: calc(100vh);
    position: relative;
    width: 100%;
}

footer {
    background-color: blue;
    grid-area: footer;
    height: 150px;
    position: relative;
    width: 100%;
}

nav ul .boton-perfil {
    align-items: center;
    display: flex;
}


nav ul .logo {
    height: 100%;
    width: 90px;
}

nav ul .boton-perfil img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

nav ul .acciones li,
.boton-menu {
    padding: 0 10px;
}

main .carrusel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 10px;
    position: relative;
    top: -250px;
}

main .carrusel {
    color: var(--color-blanco);
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 500;
}

main .carrusel .row {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow: scroll;
    max-width: 1500px;
    width: 100%;
}

main .carrusel .card {
    background-color: var(--color-blanco);
    border-radius: 15px;
    height: 215px;
    overflow: hidden;
    position: relative;
    width: 360px;
}

main .carrusel .card img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

main .carrusel .card .card-info {
    align-items: center;
    backdrop-filter: blur(5px);
    background: #0000003b;
    bottom: 0;
    color: var(--color-blanco);
    display: flex;
    height: 50px;
    justify-content: space-around;
    position: absolute;
    width: 100%;
}

main .carrusel .card .card-info svg {
    height: 45px;
    width: 45px;
}

main .carrusel .card-destacado {
    flex: 0 0 auto;
    height: 260px;
    width: 420px;
}

.page-footer {
    margin-top: 220px;
    background-color: var(--color-primario-S2);
    color: var(--color-blanco);
    position: relative;

}

.page-footer svg {
    flex-shrink: 0;
    height: 220px;
    width: 100%;
    top: -100%;
    position: absolute;
}

.page-footer .footer-content {
    background-color: var(--color-primario-S1);
    height: 400px;
    position: relative;
}

.page-footer .footer-info {
    display: flex;
    margin: auto;
    max-width: 1500px;
    justify-content: space-evenly;
    margin-bottom: 75px;
}

.page-footer .footer-logo img {
    width: 200px;
}

.page-footer .footer-info h3 {
    line-height: 32px;
}

.page-footer .footer-info p {
    line-height: 26px;
}

.page-footer .iconos {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.page-footer .iconos li {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 45px;
    justify-content: center;
    padding: 1.875px 3.75px 3.75px 3.75px;
    width: 45px;
    position: relative;
}

.page-footer .iconos svg {
    flex-shrink: 0;
    height: 45px;
    position: relative;
    top: 0;
    width: 45px;
}

.juego-container {
    color: var(--color-blanco);
    margin: auto;
    margin-top: 60px;
    max-width: 1500px;
}

.juego-container .juego {
    background: #fff;
    background-image: #fff;
    height: 662px;
    width: 1500px;
}

.juego-container .rotulador {
    margin: 20px 0;
}

.juego-container .reglas ol {
    padding-left: 20px;
    max-width: 60%;
}

.juego-container .reglas ol li {
    padding: 10px;
}

.form-comentario {
    background: var(--color-primario-L1);
    border-radius: 35px;
    margin: auto;
    height: 220px;
    padding: 20px;
    position: relative;
    max-width: 1000px;
}

.form-comentario .perfil {
    border-radius: 50%;
    border: 1px solid var(--color-blanco);
    height: 50px;
    width: 50px;
}

.form-comentario textarea {
    background-color: var(--color-primario-L1);
    border: none;
    height: 150px;
    padding: 15px 0 0 10px;
    resize: none;
    width: 100%;
}

.form-comentario textarea:focus {
    outline: none;
}

/* Login */

.login-layout {
    background-image: url("../imagenes/wallpaper.jpg");
    background-size: cover;
    background-position: top -100px right;
    height: 100vh;
    width: 100%;
}


.form-login {
    background: var(--color-negro);
    border-radius: 5px;
    color: var(--color-blanco);
    max-width: 600px;
    padding: 20px 80px;
    align-items: center;
}

.input-container {
    position: relative;
    margin: 5px;
    width: 100%;
}

.input-login {
    border-radius: 5px;
    border: 1px solid var(--Primary-L1, #7985B9);
    color: var(--color-blanco);
    background: rgba(154, 163, 204, 0.20);  
    padding: 20px 15px 5px;
    width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Cambiar el color a blanco en fondo oscuro */
}

.input-login:focus {
    outline: none;
}

.input-label {
    color: var(--color-primario-L1);
    left: 10px;
    pointer-events: none;
    position: absolute;
    transition: 0.2s ease-out;
    top: 15px;
}

.login-layout .logo {
    width: 200px;
}

/* Estilos para el label cuando el input tiene el foco o contiene texto */
.input-login:focus + .input-label,
.input-login:not(:placeholder-shown) + .input-label {
    color: var(--color-primario-L2);
    font-size: 12px;
    left: 10px;
    top: 5px;
    padding: 0 5px;
}

.form-login .btn{
    background: var(--color-primario);
    border: none;
    border-radius: 5px;
    margin: 25px 0;
    color: var(--color-blanco);
    padding: 7px;
    width: 100%;
}


.input-rapido{
    border: none;
    border-radius: 5px;
    padding: 4px;
    width: 350px;
    margin: 5px 0;
}
.input-rapido svg {
    margin: 0 10px;
}
.input-rapido span {
    text-transform: none;
}

.form-login a{
    color: var(--color-primario-L1);
}

.form-login:last-child{
    padding-bottom: 50px;
}

.form-login .success{
    background: #FF5C00;
    filter: blur(4px);
    box-shadow: 0px 0px 20px #FF5C00 ;
}

@media screen and (min-width:600px) {

    .layout {
        background-color: var(--color-primario-S2);
        display: grid;
        grid-template-areas:
            'main'
            'footer';
    }

    nav {
        margin: auto;
        max-width: 1500px;
        width: 100%;
        position: relative;
    }

    nav ul {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    nav ul li {
        align-items: center;
        display: flex;
    }


    nav ul div {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    main .wallpaper {
        overflow: hidden;
        width: 100%;
        height: 90vh;

    }

    main .wallpaper img {
        object-position: 0 -150px;
        width: 100%;
    }

    main .overlay {
        background-image: linear-gradient(rgba(31, 38, 86, 0.00) 11.55%, rgba(31, 38, 86, 0.74) 39.88%, #1F2656 64.06%);
        height: 400px;
        top: calc(100vh - 400px);
        position: absolute;
        width: 100%;
        z-index: 0;
    }


}